%center{
    display: flex;
    align-items: center;
    justify-content: center;
}

%space_around {
    display: flex;
    justify-content: space-around;
}

%right_center{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}