$c_pointer:pointer;

/* 字体 */
$color:#fff;
$color-active:#0078dc;
$color-inactive:#999;
$color-warning:#e6a23c;

/* 背景 */
$login-bg:rgba(25,202,173,1);
$bg:#fff;
$header-bg:#2f3542;
/* 边框 */
$border:#0078dc;
$border-inactive:#e6e6e6;